

{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Seller Dashboard
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'seller/css/seller.css' %}">
{% endblock %}

{% block content %}

<div class="seller-container">

    <h1>🛍 Seller Dashboard</h1>

    <div class="seller-card">

        <a href="{% url 'seller_signup' %}">
            <button>📝 Seller Signup</button>
        </a>

        <a href="{% url 'seller_login' %}">
            <button>🔐 Seller Login</button>
        </a>

    </div>

</div>

{% endblock %}